body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
    font-family: Arial;
}

.calculator {
    background: #2196f3;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
}

#display {
    width: 100%;
    height: 45px;
    font-size: 26px;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #1976d2;
    color: white;
    cursor: pointer;
}

.op {
    background: #0d47a1;
}

.equal {
    background: white;
    color: #1976d2;
}

.clear {
    background: #f44336;
}
